html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

body {
    padding: 0;
    margin-top: 70px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

header {
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    z-index: 11;
    opacity: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


/* Style the header: fixed position (always stay at the top) */
.header {
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    height: 100%;
    background-color: #f1f1f1;
}


/* The progress container (grey background) */
.progress-container {
    width: 8px;
    height: 100%;
    background: rgb(247, 219, 255);
}
  
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 0%;
    background: #3d0046;
    width: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */;
}

.container {
    background-color: #e0ffeb;
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

.logo {
    float: left;
    padding: 20px 0;
    padding-left: 5%;
}

.logo a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.logo a:hover {
    color: #000;
}

nav {
    float: right;
    opacity: unset;
    padding-right: 5%;
    top:0;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #3d0046;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.about {
    background-color: #a7d8ffc3;
    padding: 5% 5%;
}

.works {
    background-color: #eeafffc3;
    padding: 5% 5%;
}   

.contact {
    background-color: #c0fffdc3;
    padding: 5% 5%;
}

img {
    object-fit: contain; 
    height: 100%; 
    width: 100%;
    opacity: 50%;
}